replicaCount: 2
kafka:
  clusterName: kafka-prod-dimo-kafka
podAnnotations:
  config.linkerd.io/proxy-cpu-limit: 2000m
  config.linkerd.io/proxy-cpu-request: 500m
isDev: false
env:
  ENVIRONMENT: prod
  DEVICES_APIGRPC_ADDR: devices-api-prod:8086
  KAFKA_BOOTSTRAP_SERVERS: kafka-prod-dimo-kafka-kafka-bootstrap
  DIMO_REGISTRY_CHAIN_ID: 137
  VEHICLE_NFT_ADDRESS: '0xbA5738a18d83D41847dfFbDC6101d37C69c9B0cF'
  AFTERMARKET_NFT_ADDRESS: '0x9c94C395cBcBDe662235E0A9d3bB87Ad708561BA'
  SYNTHETIC_NFT_ADDRESS: '0x4804e8D1661cd1a1e5dDdE1ff458A7f878c0aC6D'
  TOKEN_EXCHANGE_KEY_SET_URL: https://auth.dimo.zone/keys
  TOKEN_EXCHANGE_ISSUER: https://auth.dimo.zone
ingress:
  enabled: true
  className: nginx-direct
  annotations:
    nginx.ingress.kubernetes.io/limit-rps: '50'
  hosts:
    - host: dis.dimo.zone
      paths:
        - path: /
          pathType: ImplementationSpecific
          backend:
            service:
              suffix: ''
              port:
                number: 443
  tls: []
certificate:
  commonName: dis.dimo.zone
  issuer: cas-prod-dimo-ca-issuer
  caConfigMap: cae-prod-dimo-ca-certs
resources:
  limits:
    cpu: 1500m
    memory: 500Mi
  requests:
    cpu: 1500m
    memory: 500Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
image:
  pullPolicy: IfNotPresent
  tag: 0.2.19
