name: buildpush
on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build'
        required: true
        type: string

jobs:
  build_test:
    # The type of runner that the job will run on
    name: buildpush
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get tag
        id: tag
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            TAG="${{ inputs.tag }}"
          else
            TAG="${GITHUB_REF#refs/tags/}"
          fi
          TAG_WITHOUT_V="${TAG#v}"
          echo "tag=${TAG_WITHOUT_V}" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/dockerfile
          push: true
          platforms: linux/amd64
          tags: dimozone/dis:${{steps.tag.outputs.tag}}

      - name: Update Image Version in the related HelmChart values.yaml
        uses: fjogeleit/yaml-update-action@v0.16.1
        with:
          valueFile: "charts/dis/values-prod.yaml"
          propertyPath: "image.tag"
          value: ${{steps.tag.outputs.tag}}
          branch: main
          message: "Update Image Version to ${{steps.tag.outputs.tag}}"
