name: buildpush
on:
  push:
    tags:
      - v*

jobs:
  build_test:
    # The type of runner that the job will run on
    name: buildpush
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1
        with:
          strip_v: true

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./resources/docker/Dockerfile
          push: true
          platforms: linux/amd64
          tags: dimozone/benthos-plugin:${{steps.tag.outputs.tag}}